
<% include ./partials/header.ejs %>

    <h1>hi <%= user.name %></h1>
    <hr>
    <form style="display: none;" id="bhai" action="/uploads" enctype="multipart/form-data" method="post">
      <input  id="inpt" type="file" name="imagefile" >
      <button  class="btn btn-primary" type="submit">submit</button>
    </form>
    <div class="container d-flex" >
      
      <div class="card" style="width: 18rem;flex-shrink:0;">
        <img style="height: 35vh;object-fit: contain;" src="/images/uploads/<%= user.image %> " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <h5 class="card-title"><%= user.username %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/like/<%= user.id %>" class="btn btn-primary">like <%= user.like.length %></a>
          <a href="/logout" class="btn btn-primary">logout</a>
          <a href="/allusers" class="btn btn-warning">all users</a>
          <a href="/allpost" class="btn btn-primary mt-2">all post</a>
          
        </div>
      </div>

      <form action="/post" method="post" style="position: relative;">
        <h1>create post</h1>
        <textarea name="post" id="" cols="30" rows="10" style="resize: none;height: 15vh;"></textarea>
        <button type="submit" class="btn btn-primary" style="position: absolute;left: 0%;top: 34%;">submit</button>
      </form>
    </div>
    
   
   
    <script>
      document.querySelector("img").addEventListener("click",function(){
               document.querySelector("#inpt").click();
      })
      document.querySelector("#inpt").addEventListener("change",function(){
               document.querySelector("#bhai").submit();
      })
    </script>

    <% include ./partials/footer.ejs %>
